body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 1450px!important;
  padding-left: 4px;
  padding-right: 4px;
}

.rebuild-bl {
  color: white!important;
  text-shadow: 1px 2px black;
}
.rebuild-lt {
  color: #00D3FF!important;
}
.rebuild-or {
  color: #FF7700!important;
}
.rebuild-dk {
  color: #B25300!important;
}
.rebuild-bk {
  background-color: #AFF1FF;
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.text-rebuild-lt {
  color: #00D3FF!important;
}
.btn-rebuild-report {
  position: absolute;
  top: 4;
  right: 0;
  color: white;
  background-color: #FF7700;
  float: right;

}
.btn-rebuild-report:hover {
  color: #0093B2;
  background-color: #B25300;
  border-color: #964803;
}
.btn-success {
  color: white!important;
}
.btn-success:hover {
  color: #FF7700!important;
}
.navbar {
  background-color: rgb(215, 248, 255)!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; 
}
#img-home {
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#cost {
  color: #964803;
}


.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: url('https://embed.widencdn.net/img/americanredcross/2udcdkg926/exact/home-fire-safety-recovery-header-1920x703.jpg?quality=100&u=1abbhl');
  min-height: 100%;
  min-width: 1024px;
  background-repeat: no-repeat;
 
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-header{
  margin-left:5px;
  width:100%;
}

.App {
  font-family: 'Francois One', sans-serif;
}